.Footer {
    color: white;
    font-size: 20px;
    line-height: 2;
    font-weight: 300;
    background-color: #E6485B;
    padding: 8px;
    box-sizing: border-box;
    height: auto;
}

.Footer ul {
    list-style-type: none;
}

.Footer a {
    text-align: center;
    display: inline-block;
}

.Footer a img {
    margin-left: 50%;
    width: 50%;
    zoom: 0.5;
    height: auto;
    display: inline-block;
}